@model UFMT.SIGED.Application.ViewModels.LoginUsuarioViewModel

@{
    ViewBag.Title = "LogIn";
}

<h2>Entrar no Sistema</h2>

@if (TempData["MsgFalhaLogin"] != null)
{
    <div class="alert alert-danger fade in">
        <button type="button" class="close"
                data-dismiss="alert">
            ×
        </button>
        <h3>@TempData["MsgFalhaLogin"]</h3>

    </div>
}

@using (Html.BeginForm("Index", "Autenticacao", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Informe os seus dados de acesso</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="OK" class="btn btn-default" />
            </div>
        </div>
    </div>
}




